# This file is ~/.config/chezmoi/chezmoi.toml
# It is managed by chezmoi at:
# ~/.local/share/chezmoi/dot_config/chezmoi/chezmoi.toml.tmpl

# -----------------------------------------------------------------------------
# [nix-darwin] - FIX
# This is the critical fix to prevent chezmoi from running
# 'nix-darwin rebuild' and deleting your cloned repositories.
# -----------------------------------------------------------------------------
[nix-darwin]
    auto-run-switch = false

